absl-py==1.4.0
aiofiles==23.2.1
albumentations==1.3.1
altgraph==0.17.3
annotated-types==0.5.0
anyio==4.6.0
asgiref==3.8.1
asttokens==2.2.1
attrs==24.2.0
Babel==2.13.1
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
blinker==1.8.2
blis==0.7.10
blowfish==0.6.1
boto3==1.28.26
botocore==1.31.26
cachetools==5.3.1
catalogue==2.0.9
certifi==2022.12.7
cffi==1.17.1
chardet==4.0.0
charset-normalizer==2.1.1
chitra==0.2.0
click==8.1.6
cloudpickle==3.0.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.4
confection==0.1.3
contourpy==1.1.0
crypto==1.4.1
cycler==0.10.0
cymem==2.0.7
debugpy==1.6.7.post1
decorator==5.1.1
Django==5.1.1
django-filter==24.3
djangorestframework==3.15.2
docker-pycreds==0.4.0
docopt==0.6.2
et-xmlfile==1.1.0
exceptiongroup==1.2.2
executing==1.2.0
Farama-Notifications==0.0.4
fastapi==0.115.0
ffmpy==0.4.0
filelock==3.9.0
filterpy==1.4.5
fire==0.5.0
Flask==3.0.3
flatbuffers==23.5.26
fonttools==4.42.0
fsspec==2023.6.0
ftfy==6.1.1
gdown==4.7.1
gitdb==4.0.10
GitPython==3.1.32
google-api-core==2.20.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-cloud-language==2.14.0
googleapis-common-protos==1.65.0
grad-cam==1.5.2
gradio==4.44.0
gradio_client==1.3.0
grpcio==1.66.2
grpcio-status==1.66.2
gymnasium==0.29.1
h11==0.14.0
hell==0.4.1
httpcore==1.0.5
httpx==0.27.2
huggingface-hub==0.23.4
humanfriendly==10.0
idna==2.10
imageio==2.31.1
imgaug==0.4.0
imgviz==1.7.3
importlib_resources==6.4.5
ipykernel==6.25.1
ipython==8.14.0
itsdangerous==2.2.0
jedi==0.19.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jupyter_client==8.3.0
jupyter_core==5.3.1
keyboard==0.13.5
kiwisolver==1.4.4
labelme==5.3.0
langcodes==3.3.0
lapx==0.5.9.post1
lazy_loader==0.3
lxml==4.9.3
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mod-wsgi==5.0.0
mpmath==1.2.1
murmurhash==1.0.9
Naked==0.1.32
natsort==8.4.0
nest-asyncio==1.5.7
networkx==3.0
nibabel==5.1.0
nltk==3.8.1
numpy==1.25.2
oauthlib==3.2.2
onnxruntime==1.15.1
opencv-python==4.8.1.78
opencv-python-headless==4.8.0.76
openpyxl==3.1.2
orjson==3.10.7
outcome==1.3.0.post0
packaging==23.1
pandas==2.0.3
parso==0.8.3
pathy==0.10.2
pefile==2023.2.7
pickleshare==0.7.5
Pillow==9.5.0
pipreqs==0.4.13
platformdirs==3.10.0
preshed==3.0.8
prompt-toolkit==3.0.39
proto-plus==1.24.0
protobuf==5.28.2
psutil==5.9.5
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybboxes==0.1.6
pycparser==2.22
pycryptodome==3.19.0
pydantic==2.3.0
pydantic_core==2.6.3
pydicom==2.4.1
pydub==0.25.1
Pygments==2.16.1
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.7
pyparsing==2.4.7
pyproject==1.3.1
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyqt5-tools==5.15.9.3.3
PyQt5Designer==5.14.1
PyQt6==6.5.2
PyQt6-Qt6==6.5.2
PyQt6-sip==13.5.2
pyreadline3==3.4.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.12
pytorch-gradcam==0.2.1
pytorch-transformers==1.2.0
pytube==15.0.0
pytz==2023.3
PyWavelets==1.4.1
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
pyzmq==25.1.1
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
QtPy==2.3.1
qudida==0.0.4
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rich==13.8.1
roboflow==1.1.2
rsa==4.9
ruff==0.6.8
s3transfer==0.6.1
sacremoses==0.0.53
safetensors==0.4.3
sahi==0.11.18
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.1
seaborn==0.12.2
selenium==4.24.0
semantic-version==2.10.0
sentencepiece==0.1.99
sentry-sdk==2.5.1
setproctitle==1.3.3
shapely==2.0.1
shellescape==3.8.1
shellingham==1.5.4
six==1.16.0
smart-open==6.4.0
smmap==5.0.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.4.1
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.5.1
srsly==2.4.7
stack-data==0.6.2
starlette==0.38.6
supervision==0.13.0
sympy==1.11.1
tensorboard==2.14.0
tensorboard-data-server==0.7.1
termcolor==2.3.0
terminaltables==3.1.10
thinc==8.1.12
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tifffile==2023.7.18
tokenizers==0.19.1
tomlkit==0.12.0
torch==2.1.0+cu121
torchvision==0.16.0+cu121
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
transformers==4.42.3
trio==0.26.2
trio-websocket==0.11.1
ttach==0.0.3
typeguard==4.1.5
typer==0.12.5
typing_extensions==4.12.2
tzdata==2023.3
ultralytics==8.2.77
ultralytics-thop==2.0.0
urllib3==1.26.20
uvicorn==0.31.0
waitress==3.0.0
wandb==0.17.1
wasabi==1.1.2
wcwidth==0.2.6
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.3
wget==3.2
wsproto==1.2.0
yarg==0.1.9
yolov5==7.0.12
yolov8==0.0.2
youtube-dl==2021.12.17
